@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:wght@300;400;500;600;700;800&family=Quattrocento&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Bakbak One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    outline-color: white;
}

a {
    text-decoration: none;
    color: gold;
}

.classes {
    background-color: #14161a;
    color: white;
    min-height: 100vh;
}

.banner{
   background-image: url('../public/banner2.jpg');
}

.bannerContent{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.tagline{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.carousel{
    height: 50%;
    display: flex;
    align-items: center;
}

.carouselItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

.textfield{
    color: white;
}

.row{
    background-color:#16171a ;
    cursor: pointer;
    font-family: "Montserrat";
}

.row:hover{
    background-color: #131111;
}

.pagination{
    color: gold;
}